<!DOCTYPE html>
<html>
<head>
    <title>Одностраничное приложение</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="views/css/style.css">

    <script src="js/bootstrap.min.js"></script>
    <script src="views/bower_components/angular/angular.min.js"></script>
    <script src="views/bower_components/angular-route/angular-route.min.js"></script>
    <script src="views/js/app.js"></script>
    <script src="views/js/controller/controllers.js"></script>

</head>
<body ng-app="app">

	<a href="#/"><button class="btn btn-danger">Главная</button></a>
	<a href="#/about"><button class="btn btn-success">О нас</button></a>
	<a href="#/date"><button class="btn btn-warning">Дата</button></a>

<div class="row">
    <div ng-view>
    <!-- Представление будет здесь -->
    </div>
</div>

</body>
</html>