<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <style> /*h2 { color:#FF0000; }*/
    .table-heading{ background:#cef;}
    .odd  { background-color: #ffc;  }
    .even { background-color: #ffa;  }
    </style>

    <script type="text/javascript">
        var varBuses=$("buses").val();
        var varMessage=$("message").val();
    </script>
    <link type="text/css" href="css/style.css" rel="stylesheet" />
</head>
<body>
<h2 th:utext="${message}">..!..</h2>

<script type="text/javascript">
$(document).ready(function() {
    $("th").addClass('table-heading');
    $('tr:not([th]):even').addClass('even');
    $('tr:not([th]):odd').addClass('odd');
});
</script>

<div>
    <table border="1", id="tab_route">
        <tr>
            <th>ID</th>
            <th>Number</th>
        </tr>
        <tr th:each="route : ${routes}">
            <td th:text="${route.route_id}"></td>
            <td class="Num" th:text="${route.route_number}"></td>
        </tr>
    </table>
</div>
<br>
<div>
    <table border="1", id="tab_bus">
        <tr>
            <th>Serial</th>
            <th>Bus Model</th>
            <th>Route</th>
        </tr>
        <tr th:each="bus : ${buses}">
            <td th:text="${bus.bus_id}"></td>
            <td th:text="${bus.bus_model}"></td>
            <td th:text="${bus.route_id}"></td>
        </tr>
    </table>
</div>

<button onclick="myFunction()">Try it</button>

<script>
    function myFunction() {
        varMessage=${message}.val();
        alert(varMessage);
    }
</script>

<!--<script type="text/javascript">
    $(function() {
        $("#tab_route td.Num").click(function() {
            var nameRoute=$(this).text();
            $.get({
                type:'GET',
                url:'/select_route',
                data:nameRoute,
                succses:function (data) {
                    alert(data);
                }
            });
        });

    });
</script>-->

<script type="text/javascript">
    $(function() {
        $("#tab_route td.Num").click(function() {
            $.get(
                "/select_route",
                { nameRoute: $(this).text() },
                function (data, status) { alert(data); }
            );
        });

    });
</script>


<a href="addBus">Add Bus</a>
</body>
</html>